Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/robots.txt$

# If there's no query string, change the page name part into a query.
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^([^/]+)$ /cgi-bin/oppejoud.pl/$1 [QSA,L]

# Otherwise, do a plain redirect.
RewriteRule ^$ cgi-bin/oppejoud.pl [QSA,L,PT]
